In [1]:
import numpy as np
import pandas as pd
import math

# 1 数据预处理

In [2]:
# 构建 用户名id —— 用户新id(从1开始)
f_user= open('./data/users.txt', encoding='utf-8')
line = f_user.readline().strip()
user_list = []
user_list.append(line)
while line:
    line = f_user.readline().strip()
    if line != '':
        user_list.append(line)
f_user.close()
user_dict = {}
for i in range(0, len(user_list)):
    user_dict[user_list[i]] = i

print(len(user_dict))

10000

In [3]:
# 构建用户行为矩阵（训练用）
# 注意由于已经训练完成,除非初次完整运行本项目，本代码无需二次运行
pd_user_train = pd.DataFrame(np.zeros([10000, 10000], int))

f_train = open('./data/netflix_train.txt')
f_train_data = f_train.readlines()
for line in f_train_data:
    temp_list = line.split(" ")
    pd_user_train.iloc[user_dict[temp_list[0]], int(temp_list[1]) - 1] = int(temp_list[2])

pd_user_train

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,1,0,2,1,1,1,2,1,0,1,...,2,1,0,1,1,2,1,1,1,2
1,1,0,2,0,1,2,1,0,0,0,...,0,1,1,1,0,2,1,1,2,1
2,0,1,0,1,0,1,0,1,0,1,...,1,1,0,0,0,1,1,1,1,1
3,5,0,0,3,5,4,3,4,3,4,...,5,3,0,4,5,5,5,4,0,5
4,5,0,4,3,5,4,3,0,0,3,...,5,0,5,4,4,5,4,4,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# 将上述表格保存到文件，方便后续读取
# 注意由于已经训练完成,除非初次完整运行本项目，本代码无需二次运行
pd_user_train_output = './data/user_train.csv'
pd_user_train.to_csv(pd_user_train_output, sep=',', index=False, header=False)

In [3]:
user_train = pd.read_csv("./data/user_train.csv", header=None)
user_train.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,1,0,2,1,1,1,2,1,0,1,...,2,1,0,1,1,2,1,1,1,2
1,1,0,2,0,1,2,1,0,0,0,...,0,1,1,1,0,2,1,1,2,1
2,0,1,0,1,0,1,0,1,0,1,...,1,1,0,0,0,1,1,1,1,1
3,5,0,0,3,5,4,3,4,3,4,...,5,3,0,4,5,5,5,4,0,5
4,5,0,4,3,5,4,3,0,0,3,...,5,0,5,4,4,5,4,4,0,4

In [11]:
# 构建用户行为矩阵（测试用）
# 注意由于已经训练完成,除非初次完整运行本项目，本代码无需二次运行
pd_user_test = pd.DataFrame(np.zeros([10000, 10000], int))

f_test = open('./data/netflix_test.txt')
f_test_data = f_test.readlines()
for line in f_test_data:
    temp_list = line.split(" ")
    pd_user_test.iloc[user_dict[temp_list[0]], int(temp_list[1]) - 1] = int(temp_list[2])

pd_user_test

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1,0,1,0,2,0,0,0,1,1,2,...,1,0,0,0,0,0,0,0,0,0
2,1,0,1,0,1,0,1,0,0,0,...,0,0,1,1,0,0,0,0,0,0
3,0,4,5,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,3,0
4,0,4,0,0,0,0,0,3,0,0,...,0,3,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0

In [5]:
# 将上述表格保存到文件，方便后续读取
# 注意由于已经训练完成,除非初次完整运行本项目，本代码无需二次运行
pd_user_test_output = './data/user_test.csv'
pd_user_test.to_csv(pd_user_test_output, sep=',', index=False, header=False)

In [4]:
user_test = pd.read_csv("./data/user_test.csv", header=None)
user_test.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1,0,1,0,2,0,0,0,1,1,2,...,1,0,0,0,0,0,0,0,0,0
2,1,0,1,0,1,0,1,0,0,0,...,0,0,1,1,0,0,0,0,0,0
3,0,4,5,0,0,0,0,0,0,0,...,0,0,4,0,0,0,0,0,3,0
4,0,4,0,0,0,0,0,3,0,0,...,0,3,0,0,0,0,0,0,0,0

# 2 协同过滤

In [5]:
# 设置维度大小
level = 2000

In [6]:
# 计算相似度
def sim(user1, user2):
    '''
    计算两个用户向量的余弦相似度
    适配本环境请输入：user_train.iloc[0,:].values,user_train.iloc[1,:].values
    :param user1: 用户1对所有电影打分的向量
    :param user2: 用户2对所用电影打分的向量
    :return: 相似度
    '''
    xy = sum(np.multiply(user1, user2))
    x_v = math.sqrt(sum(x**2 for x in user1))
    y_v = math.sqrt(sum(x**2 for x in user2))
    ans = 0.0
    fenmu = x_v * y_v
    if fenmu != 0:
        ans = xy / fenmu
    return ans
# 函数测试
sim(user_train.iloc[0,:].values, user_train.iloc[1,:].values)

0.6375199878464465

In [13]:
# 计算相似矩阵
# 注意由于已经训练完成,除非初次完整运行本项目，本代码无需二次运行
pd_user_sim = pd.DataFrame(np.zeros([level, level], int))

for i in range(0, level):
    for j in range(i + 1, level):
        pd_user_sim.iloc[i, j] = sim(user_train.iloc[i,:].values, user_train.iloc[j,:].values)
        print(i, j, pd_user_sim.iloc[i, j])
        pd_user_sim.iloc[j, i] = pd_user_sim.iloc[i, j]

pd_user_sim.iloc[0:10, 0:10]

,0,1,2,3,4,5,6,7,8,9
0,0.000000,0.637520,0.589112,0.645917,0.610410,0.556041,0.485405,0.485914,0.461615,0.493266
1,0.637520,0.000000,0.622332,0.672795,0.657799,0.520011,0.533986,0.486659,0.520652,0.502750
2,0.589112,0.622332,0.000000,0.630058,0.612625,0.479487,0.501114,0.456102,0.518732,0.500384
3,0.645917,0.672795,0.630058,0.000000,0.733967,0.496248,0.555380,0.480652,0.530741,0.526780
4,0.610410,0.657799,0.612625,0.733967,0.000000,0.483486,0.562568,0.469293,0.550004,0.522992
5,0.556041,0.520011,0.479487,0.496248,0.483486,0.000000,0.413856,0.457058,0.400203,0.412339
6,0.485405,0.533986,0.501114,0.555380,0.562568,0.413856,0.000000,0.426888,0.534465,0.478501
7,0.485914,0.486659,0.456102,0.480652,0.469293,0.457058,0.426888,0.000000,0.420089,0.383643
8,0.461615,0.520652,0.518732,0.530741,0.550004,0.400203,0.534465,0.420089,0.000000,0.435907
9,0.493266,0.502750,0.500384,0.526780,0.522992,0.412339,0.478501,0.383643,0.435907,0.000000

In [15]:
# 并行优化，计算相似矩阵（方法1）
# 注意由于已经训练完成,除非初次完整运行本项目，本代码无需二次运行
# 该代码和上述串行结果一致，只需要跑一种方法
pd_user_sim = pd.DataFrame(np.ones([level, level], float))
from joblib import Parallel, delayed

def para_fuc(i, j):
    pd_user_sim.iloc[i, j] = sim(user_train.iloc[i,:].values, user_train.iloc[j,:].values)
    pd_user_sim.iloc[j, i] = pd_user_sim.iloc[i, j]

Parallel(n_jobs=16)(delayed(para_fuc)(i, j) for i in range(0, 10) for j in range(i + 1, 10))

pd_user_sim.iloc[0:10, 0:10]

,0,1,2,3,4,5,6,7,8,9
0,0.000000,0.637520,0.589112,0.645917,0.610410,0.556041,0.485405,0.485914,0.461615,0.493266
1,0.637520,0.000000,0.622332,0.672795,0.657799,0.520011,0.533986,0.486659,0.520652,0.502750
2,0.589112,0.622332,0.000000,0.630058,0.612625,0.479487,0.501114,0.456102,0.518732,0.500384
3,0.645917,0.672795,0.630058,0.000000,0.733967,0.496248,0.555380,0.480652,0.530741,0.526780
4,0.610410,0.657799,0.612625,0.733967,0.000000,0.483486,0.562568,0.469293,0.550004,0.522992
5,0.556041,0.520011,0.479487,0.496248,0.483486,0.000000,0.413856,0.457058,0.400203,0.412339
6,0.485405,0.533986,0.501114,0.555380,0.562568,0.413856,0.000000,0.426888,0.534465,0.478501
7,0.485914,0.486659,0.456102,0.480652,0.469293,0.457058,0.426888,0.000000,0.420089,0.383643
8,0.461615,0.520652,0.518732,0.530741,0.550004,0.400203,0.534465,0.420089,0.000000,0.435907
9,0.493266,0.502750,0.500384,0.526780,0.522992,0.412339,0.478501,0.383643,0.435907,0.000000

In [ ]:
# 并行优化，计算相似矩阵（方法2）
# 注意由于已经训练完成,除非初次完整运行本项目，本代码无需二次运行
# 该代码和上述串行结果一致，只需要跑一种方法
from multiprocessing import Pool

def para_fuc(i):
    for j in range(i + 1, level):
        pd_user_sim.iloc[i, j] = sim(user_train.iloc[i,:].values, user_train.iloc[j,:].values)
        pd_user_sim.iloc[j, i] = pd_user_sim.iloc[i, j]

pool = Pool()
id = list(range(1, level))
pool.map(para_fuc, id)
pool.close()
pool.join()

In [14]:
# 将上述表格保存到文件，方便后续读取
# 注意由于已经训练完成,除非初次完整运行本项目，本代码无需二次运行
pd_user_sim_output = './data/user_sim.csv'
pd_user_sim.to_csv(pd_user_sim_output, sep=',', index=False, header=False)

In [9]:
pd_user_sim = pd.read_csv("./data/user_sim.csv", header=None)
pd_user_sim.iloc[0:10, 0:10]

,0,1,2,3,4,5,6,7,8,9
0,0.000000,0.637520,0.589112,0.645917,0.610410,0.556041,0.485405,0.485914,0.461615,0.493266
1,0.637520,0.000000,0.622332,0.672795,0.657799,0.520011,0.533986,0.486659,0.520652,0.502750
2,0.589112,0.622332,0.000000,0.630058,0.612625,0.479487,0.501114,0.456102,0.518732,0.500384
3,0.645917,0.672795,0.630058,0.000000,0.733967,0.496248,0.555380,0.480652,0.530741,0.526780
4,0.610410,0.657799,0.612625,0.733967,0.000000,0.483486,0.562568,0.469293,0.550004,0.522992
5,0.556041,0.520011,0.479487,0.496248,0.483486,0.000000,0.413856,0.457058,0.400203,0.412339
6,0.485405,0.533986,0.501114,0.555380,0.562568,0.413856,0.000000,0.426888,0.534465,0.478501
7,0.485914,0.486659,0.456102,0.480652,0.469293,0.457058,0.426888,0.000000,0.420089,0.383643
8,0.461615,0.520652,0.518732,0.530741,0.550004,0.400203,0.534465,0.420089,0.000000,0.435907
9,0.493266,0.502750,0.500384,0.526780,0.522992,0.412339,0.478501,0.383643,0.435907,0.000000

In [21]:
# 计算某用户对某电影的预测评分
def predict(userid, movieid):
    '''
    评分预测
    :param userid: 用户的id
    :param movieid: 电影的id
    :return: 预测评分
    '''
    score = 0
    for i in range(0, level): # 因为上述定义中，自己和自己的相似性为0，所以这里自己参与运算，贡献为0，不影响最终结果，所以不需要考虑i==userid的情况
        score += pd_user_sim.iloc[userid, i] * user_train.iloc[i, movieid]
    score /= sum(pd_user_sim.iloc[userid, :])
    return round(score)
# 函数测试
predict(0, 29)

2

In [ ]:
# 预测评分
pd_user_pre = pd.DataFrame(np.zeros([level, level], int))

for i in range(0, level):
    for j in range(0, level):
        pd_user_pre.iloc[i, j] = predict(i, j)

pd_user_pre.iloc[0:10, 0:10]

In [ ]:
# 将上述表格保存到文件，方便后续读取
# 注意由于已经训练完成,除非初次完整运行本项目，本代码无需二次运行
pd_user_pre_output = './data/user_pre.csv'
pd_user_pre.to_csv(pd_user_pre_output, sep=',', index=False, header=False)

In [ ]:
pd_user_pre = pd.read_csv("./data/user_pre.csv", header=None)
pd_user_pre.iloc[0:10, 0:10]

In [24]:
# 定义均方根误差函数
def RMSE():
    Sum = 0.0
    for i in range(0, level):
        Sum += sum(x**2 for x in (user_test.iloc[i, 0:level].values - user_pre.iloc[i, 0:level].values))
    ans = math.sqrt(Sum / (level * level))
    return ans

In [25]:
# 测试预测效果
print(RMSE())

0.5529963833516455

In [31]:
# 计算基线预测效果
def RMSE_base():
    Sum = 0.0
    for i in range(0, level):
        Sum += sum(x**2 for x in (user_test.iloc[i, 0:level].values))
    ans = math.sqrt(Sum / (level * level))
    return ans
print(RMSE_base())

0.5529905062476208

# 3 基于梯度下降的矩阵分解